<nav>
	<a routerLink="/" class="brand">
		<img src="../../../../assets/home_agency2_logo_footer.png" alt="icon gif">
	</a>

	<ul class="links">
		<li>
			<a routerLink="/" class="brand-links">
				<img src="./../../../../assets/images/house-solid.svg" alt="ícone da página principal/home">
				Home
			</a>
		</li>
		<li><a routerLink="/cliente/new"> Cadastrar </a></li>
		<li><a routerLink="/about"> Sobre </a></li>
	</ul>

	<img src="https://static.wixstatic.com/media/fdb1e0_2bd0ed3e30f644a693e61ae5a845b449~mv2.gif" alt="icon gif">
</nav>