
nav {
  display: flex;
  justify-content: space-around;
  padding: 1em;
  border-bottom: 1px solid #777;
  height: 8vh;
}

.brand, .links {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 85px;
  margin-right: 0.2em;
}

.links li {
  margin-right: 1em;
  list-style: none;
}

.links a {
  padding: .1em .3em;
}
