main {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 60vh;
    margin: 0 auto;
}

form {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px 15px;
    padding: 30px;
}

label {
    padding: 5px;
    width: 6em;
    font-size: 1.3em;
}

 .custom-select {
    height: 43px;
    font-family: 'mfn-icons';
}

input,
select {
    width: 100%;
    padding: 11px;
    border-radius: 3px;
    border: 1px solid #888;
    height: 18px;
    font-size: 1em;
    transition: font-size 0.2s;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 1px 15px;
}

.column-2 {
    grid-column: span 2;
}

.column-3 {
    grid-column: span 3;
}

.d-block {
    display:block;
}

input[type=submit] {
    grid-row: 4;
    grid-column: 4;
    padding-bottom: 40px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 1.6em;
    letter-spacing: 5px;
}

input[type=reset] {
    grid-row: 4;
    grid-column: 3;
    padding-bottom: 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 90%;
    font-size: 1.3em;
    letter-spacing: 2px;
}

input[type=submit]:focus {
	  background-color: #0056b3;
}

input[type="date"] {
    font-family: 'mfn-icons';
    font-size:1em;
    color: #888;
  }

::placeholder {
    letter-spacing: 1.7px;
    color: #888;
    font-size: 1em;
}

select option:checked {
  background-color: #f0f0f0;
  color: #333;
}
